[submodule "ros2_ws/src/DB-TSDF"]
	path = ros2_ws/src/DB-TSDF
	url = https://github.com/robotics-upo/DB-TSDF.git
[submodule "ros2_ws/external/WAFT-Stereo"]
	path = ros2_ws/external/WAFT-Stereo
	url = https://github.com/princeton-vl/WAFT-Stereo.git
[submodule "ros2_ws/external/UniDepth"]
	path = ros2_ws/external/UniDepth
	url = https://github.com/lpiccinelli-eth/UniDepth.git
